.red-point {
  position: absolute;
  top: 0;
  left: 0;
  width: 2%;
  cursor: pointer;
  .red-point-img {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  .radiation {
    position: absolute;
    left: 50%;
    top: 50%;
    // margin: 0 auto;
    width: 1.5vw;
    height: 1.5vw;
    z-index: 0;
    opacity: 0;
    transition: opacity 0.5s;
    transform: translate(-50%, -50%);
    .circle {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: rgba(229, 28, 28, 0.4862745098);
      animation-name: radiation;
      animation-duration: 1.35s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
    > :nth-child(2) {
      animation-delay: 0.25s;
    }
    > :nth-child(3) {
      animation-delay: 0.5s;
    }
  }
  &:hover {
    .radiation {
      opacity: 1;
      transition: opacity 0.5s;
    }
  }
}
@keyframes radiation {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}

.point-active {
  // opacity: 1;
  // transition: opacity 0.5s;
  .radiation {
    opacity: 1;
    transition: opacity 0.5s;
  }
}

.point-1 {
  top: 47.5%;
  left: 26%;
}
.point-2 {
  top: 56%;
  left: 52%;
}
.point-3 {
  top: 75%;
  left: 52%;
}
.point-4 {
  top: 56%;
  left: 79%;
}
.point-5 {
  top: 27.5%;
  left: 79%;
}
.point-6 {
  top: 14.5%;
  left: 60%;
}

.bath-point-1 {
  top: 68%;
  left: 65%;
}
.bath-point-2 {
  top: 54%;
  left: 31%;
}
.bath-point-3 {
  top: 27%;
  left: 93%;
}
.bath-point-4 {
  top: 48%;
  left: 36.5%;
}
.bath-point-5 {
  top: 6%;
  left: 51%;
}
.bath-point-6 {
  top: 78%;
  left: 61%;
}
.bath-point-7 {
  top: 64%;
  left: 60%;
}
.bath-point-8 {
  top: 62%;
  left: 27%;
}
.bath-point-9 {
  top: 33%;
  left: 87%;
}
.bath-point-10 {
  top: 57%;
  left: 31%;
}
.bath-point-11 {
  top: 4%;
  left: 48%;
}
