@use './_config.scss';
@use 'swiper/css';
@use 'swiper/css/scrollbar';
@use 'swiper/css/navigation';
@use 'swiper/css/pagination';
@use 'swiper/css/free-mode';
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

@mixin laptop() {
  @media all and (max-width: 1600px) {
    @content;
  }
}
@mixin pad() {
  @media all and (max-width: 1400px) {
    @content;
  }
}

:root {
  --serif: 'Noto Serif TC', serif;
  --sans: 'Noto Sans TC';
  --micro: 'Microsoft JhengHei';
  --lato: 'Lato', sans-serif;
  --cor: 'Cormorant Garamond', sans-serif;
  --jost: 'Jost', serif;
  // 45pt 2vw
  // 39pt 1.7vw
  //內文小字 1vw 平板1.1vw
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style-type: none;
}

img,
video,
canvas,
iframe {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
}
html,
body {
  width: 100%;
  height: 100%;
}
#app {
  width: 100%;
  height: 100vh;
}

#nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 10%;
  padding: 2vw 2vw 2vw 2.25vw;
  z-index: 15;
  @include pad {
    padding: 3vw 2vw 1vw 2.25vw;
  }
  .nav-icon {
    width: 9.45vw;
  }
  .nav-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1.5vw;
    width: 100%;
    @include pad {
      gap: 1vw;
      width: 70%;
    }
  }
  .nav-links {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    @include pad {
      justify-content: flex-end;
      width: 100%;
      flex-wrap: wrap;
      gap: 0.75vw 0;
    }
    a,
    li {
      position: relative;
      margin-right: 2.25vw;
      font-family: var(--serif);
      font-size: 1vw;
      font-weight: 600;
      letter-spacing: 2px;
      @include pad {
        margin-right: 2vw;
        font-size: 1.1vw;
      }
      a,
      .nav-link-name {
        color: black;
        transition: all 0.5s;
        cursor: pointer;
      }
      &::after {
        content: '';
        position: absolute;
        height: 65%;
        width: 1px;
        top: 25%;
        right: -1.25vw;
        background-color: black;
        transition: all 0.5s;
        @include pad {
          right: -1vw;
        }
      }
      &:last-child {
        margin-right: 0;
        @include pad {
          // margin-right: 1vw;
        }
        &::after {
          content: unset;
        }
      }
    }

    .nav-active {
      a,
      .nav-link-name {
        color: #d27c8d !important;
        font-weight: 700;
      }
    }
    .develop-link {
      .black-bottom-line {
        position: absolute;
        bottom: -20%;
        left: 0;
        right: 0;
        width: 100%;
        height: 1px;
        margin: auto;
        background-color: black;
        transform: scale(0);
        transition: all 0.5s;
        @include pad {
          bottom: -40%;
        }
      }
      &:hover {
        .black-bottom-line {
          transform: scale(1.2);
        }
      }
    }
    .develop-active {
      position: relative;
      .black-bottom-line {
        transform: scale(1.2);
        transition: all 0.5s;
      }
    }
  }
  .back-button {
    background-color: #d27c8d;
    position: relative;
    width: 2vw;
    height: 2vw;
    padding: 0.25vw;
    cursor: pointer;
    @include pad() {
      width: 2.75vw;
      height: 2.75vw;
      padding: 0.5vw;
    }
  }
}

.nav-white {
  .nav-links {
    li {
      a {
        color: white !important;
      }
      &::after {
        background-color: white !important;
      }
    }
  }
  .nav-active {
    a,
    .nav-link-name {
      color: white !important;
    }
  }
  .develop-link {
    &::after {
      background-color: white !important;
    }
    .nav-link-name {
      color: white !important;
    }
    .black-bottom-line {
      background-color: white !important;
    }
  }
}
.nav-black {
  .develop-link {
    &::after {
      background-color: black !important;
    }
    .nav-link-name {
      color: black !important;
    }
    .black-bottom-line {
      background-color: black !important;
    }
  }
}
.swiper-button-prev,
.swiper-button-next {
  &::after {
    display: none;
  }
}
