@use '../config' as *;
.menu-button {
  position: absolute;
  left: 0;
  top: 13%;
  writing-mode: vertical-lr;
  font-family: var(--cor);
  font-size: 1.25vw;
  letter-spacing: 2px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px 40px 40px 0px;
  width: 3.5vw;
  height: 8.75vw;
  background: linear-gradient(to bottom, #0da9e7 0%, #deb5fb 100%);
  cursor: pointer;
  @include pad {
    border-radius: 0px 20px 20px 0px;
    font-size: 1.5vw;
    width: 3.75vw;
    height: 9vw;
  }
}
.menu-main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  transition: all linear 0.4s;
  .menu-main-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    .menu-bg {
      width: 100%;
      height: 100%;
      img {
        height: 100%;
      }
    }
    .menu-main-close {
      position: absolute;
      right: 3%;
      top: 4%;
      width: 2vw;
      z-index: 10;
      cursor: pointer;
    }
    .menu-main-nav {
      position: absolute;
      left: 7%;
      top: 18%;
      display: flex;
      flex-direction: column;
      gap: 5vw;
      z-index: 10;
      @include pad {
        left: 11%;
        top: 24%;
      }
      .menu-main-nav-item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        .menu-main-nav-item-title {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          gap: 0.4vw;
          h4 {
            font-family: var(--sans);
            font-weight: 400;
            font-size: 1.1vw;
            letter-spacing: 10px;
            color: white;
          }
          p {
            font-family: var(--cor);
            font-weight: 500;
            font-size: 0.8vw;
            letter-spacing: 2px;
            color: #38dcff;
          }
          @include pad {
            h4 {
              font-size: 1.35vw;
            }
            p {
              font-size: 1vw;
            }
          }
        }
        .menu-main-nav-item-img {
          width: 2vw;
        }
        .menu-main-nav-item-links {
          display: flex;
          align-items: center;
          gap: 1vw;
          margin-left: 1vw;
          a {
            font-family: var(--sans);
            font-weight: 300;
            font-size: 1vw;
            letter-spacing: 5px;
            color: white;
          }
          @include pad {
            font-size: 1.25vw;
          }
        }
      }
    }
    .menu-main-cloud {
      position: absolute;
      top: 0;
      left: 0;
      width: 20vw;
    }
    .cloud-1 {
      top: 0%;
      left: 105%;
      width: 47vw;
      animation: cloudAni 45s linear forwards infinite;
    }
    .cloud-1-reverse {
      top: -13%;
      left: 105%;
      width: 47vw;
      animation: cloudAniReverse 45s linear forwards infinite 25000ms;
    }
    .cloud-2 {
      top: 0%;
      left: 105%;
      width: 40vw;
      animation: cloudAni2 40s linear forwards infinite 1500ms;
    }
    .cloud-2-reverse {
      top: 0%;
      left: 105%;
      width: 40vw;
      animation: cloudAni2 40s linear forwards infinite 17500ms;
    }
    .cloud-3 {
      top: 0%;
      left: 105%;
      width: 45vw;
      animation: cloudAni 50s linear forwards infinite 15000ms;
    }
    .cloud-3-reverse {
      top: 0%;
      left: 105%;
      width: 45vw;
      animation: cloudAni3 50s linear forwards infinite 14500ms;
    }
    @keyframes cloudAni {
      0% {
        opacity: 1;
        transform: translateX(0%);
      }
      70% {
        opacity: 1;
      }
      100% {
        opacity: 0;
        transform: translateX(-250%);
      }
    }
    @keyframes cloudAniReverse {
      0% {
        opacity: 1;
        transform: translateX(0%) rotateX(176deg);
      }
      70% {
        opacity: 1;
      }
      100% {
        opacity: 0;
        transform: translateX(-250%) rotateX(176deg);
      }
    }
    @keyframes cloudAni2 {
      0% {
        opacity: 1;
        transform: translateX(0%);
      }
      100% {
        opacity: 0;
        transform: translateX(-300%);
      }
    }
    @keyframes cloudAni2Reverse {
      0% {
        opacity: 1;
        transform: translateX(0%) rotateX(176deg) rotateY(180deg);
      }
      100% {
        opacity: 0;
        transform: translateX(-300%) rotateX(176deg) rotateY(180deg);
      }
    }
    @keyframes cloudAni3 {
      0% {
        opacity: 1;
        transform: translateX(0%);
      }
      70% {
        opacity: 0;
      }
      100% {
        opacity: 0;
        transform: translateX(-400%);
      }
    }
    @keyframes cloudAni3Reverse {
      0% {
        opacity: 1;
        transform: translateX(0%) rotateX(176deg) rotateY(180deg);
      }
      70% {
        opacity: 0;
      }
      100% {
        opacity: 0;
        transform: translateX(-400%) rotateX(176deg) rotateY(180deg);
      }
    }
  }
}
