@use '../config' as *;
.home-smart {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: white;
  .home-smart-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    .home-smart-swiper-container {
      height: 100%;
      z-index: unset;
      .home-smart-prev,
      .home-smart-next {
        width: 3vw;
        z-index: 16;
        @media screen and (max-width: 2560px) and (aspect-ratio: 16/10) {
          top: 54%;
        }
        @include pad {
          width: 5vw;
          top: 48%;
        }
      }
      .home-smart-prev {
        left: 1%;
      }
      .home-smart-next {
        right: 1%;
      }
    }
    .home-smart-slide {
      width: 100%;
      position: relative;
      .home-smart-slide-top {
        width: 100%;
        overflow: hidden;
        p {
          display: none;
        }
        @include pad {
          height: 60%;
          p {
            position: absolute;
            right: 0.25%;
            bottom: 3%;
            display: block;
            font-size: 0.75vw;
            letter-spacing: 2px;
            color: black;
          }
        }
        .home-smart-slide-top-img {
          position: relative;
          width: 100%;
          > img {
            will-change: transform;
          }
          @include pad {
            height: 100%;
            img {
              object-fit: cover;
              height: 100%;
              width: 105%;
              object-position: 93%;
            }
          }
          .home-smart-txt {
            position: absolute;
            bottom: -0.75%;
            width: 100%;
            will-change: transform;
          }
        }
      }
      .home-smart-slide-bottom {
        width: 100%;
      }
    }
    .home-smart-slide-1 {
      .home-smart-slide-top {
        .home-smart-slide-top-img {
          .home-smart-txt {
            position: absolute;
            bottom: -0.75%;
            left: 3.5%;
            width: 64%;
          }
        }
      }
      .home-smart-slide-bottom {
        width: 100%;
        .home-smart-bottom-txt {
          display: flex;
          flex-direction: column;
          padding-left: 11.5%;
          padding-top: 5%;
          will-change: transform;
        }
        .home-smart-bottom-txt-top {
          margin-bottom: 0.5vw;
          h1 {
            display: inline-block;
            font-weight: 600;
            font-size: 1.9vw;
            letter-spacing: 6px;
            color: #231815;
          }
          h1:first-child {
            font-family: var(--serif);
          }
          h1:last-child {
            font-family: var(--jost);
            margin-left: 4px;
            font-weight: 500;
          }
        }
        .home-smart-bottom-txt-bottom {
          font-family: var(--micro);
          font-size: 1vw;
          font-weight: 500;
          letter-spacing: 2px;
          line-height: 2;
          color: #2d2d2d;
          @include pad {
            font-size: 1.1vw;
          }
        }
        .home-smart-phone {
          position: absolute;
          right: 5%;
          bottom: 5%;
          width: 27%;
          will-change: transform;
          @include pad {
            bottom: 7.5%;
          }
        }
      }
    }
    .home-smart-slide-2 {
      .home-smart-slide-top {
        @include pad {
          p {
            color: white;
          }
        }
        .home-smart-slide-top-img {
          .home-smart-txt {
            position: absolute;
            bottom: -0.75%;
            left: 18.5%;
            width: 63%;
          }
        }
      }
      .home-smart-slide-bottom {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5vw;
        margin-top: 6%;
        margin-left: 9%;
        .home-smart-bottom-txt {
          .home-smart-bottom-txt-top {
            h1 {
              display: inline-block;
              font-family: var(--serif);
              font-weight: 600;
              font-size: 1.9vw;
              letter-spacing: 6px;
              color: #231815;
            }
            .jost {
              font-family: var(--jost);
              font-weight: 500;
            }
          }
          .home-smart-bottom-txt-bottom {
            font-family: var(--micro);
            font-size: 1vw;
            font-weight: 500;
            letter-spacing: 2px;
            line-height: 2;
            color: #2d2d2d;
            @include pad {
              font-size: 1.1vw;
            }
          }
        }
        .home-smart-bottom-right {
          width: 29.75%;
        }
      }
    }
    .home-smart-phone-2 {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 21.25%;
    }
  }
}
