@use '../config' as *;
.kitchen-list {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 15;
  @include pad {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .kitchen-list-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    @include pad {
      position: relative;
      height: 82.5%;
    }
    .kitchen-list-icon {
      position: absolute;
      right: 2vw;
      top: 4%;
      width: 10.5vw;
      @include pad {
        top: 8%;
      }
    }
    .kitchen-list-left {
      position: relative;
      width: 61.5%;
      margin-left: 1.5%;
      .nav-icon {
        position: absolute;
        left: 1%;
        top: 1%;
        width: 9.45vw;
        z-index: 1;
      }
    }
    .kitchen-list-right {
      right: 0;
      flex: 1;
      width: 37%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: 100%;
      .kitchen-list-right-para {
        width: 100%;
      }
    }
    .kitchen-1 {
      .kitchen-list-right-para {
        width: 91.5%;
        margin-bottom: 11%;
      }
    }
    .kitchen-2 {
      .kitchen-list-right-para {
        width: 74.25%;
        margin-bottom: 13%;
      }
    }
    .kitchen-3 {
      .kitchen-list-right-para {
        width: 95%;
        margin-top: 3%;
      }
    }
    .kitchen-4 {
      .kitchen-list-right-para {
        width: 60%;
      }
    }
    .kitchen-5 {
      .kitchen-list-right-para {
        width: 60.75%;
      }
    }
    .kitchen-6 {
      margin-bottom: 8%;
      @include pad {
        margin-bottom: 0;
      }
      .kitchen-list-right-para {
        width: 76.75%;
      }
    }
    .kitchen-7 {
      .kitchen-list-icon {
        width: 7vw;
      }
      .kitchen-list-right-para {
        width: 80%;
      }
    }
    .kitchen-8 {
      .kitchen-list-icon {
        width: 7vw;
      }
      .kitchen-list-right-para {
        width: 80%;
      }
    }
    .kitchen-list-close,
    .kitchen-detail-close {
      position: absolute;
      right: 2%;
      top: 45%;
      width: 2.5vw;
      height: 2.5vw;
      padding: 0.25vw;
      background-color: #d27c8d;
      cursor: pointer;
      z-index: 16;
      @include pad {
        width: 3vw;
        height: 3vw;
        padding: 0.5vw;
        top: 45%;
        right: 2%;
      }
    }
    .kitchen-detail {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: white;
      .kitchen-detail-container {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        overflow: hidden;
        .kitchen-detail-left {
          width: 58%;
          height: 100%;
          .kitchen-detail-bg {
            position: relative;
            width: 100%;
            height: 100%;
            img {
              object-fit: cover;
              height: 100%;
            }
          }
        }
        .kitchen-detail-right {
          flex: 1;
          .kitchen-detail-right-para-1 {
            width: 54%;
            margin: auto;
          }
        }
        .kitchen-detail-icon {
          position: absolute;
          right: 2%;
          top: 4%;
          width: 10.5vw;
          @include pad {
            top: 0;
          }
        }
      }
    }
    .item-3 {
      .kitchen-detail-container {
        .kitchen-detail-right {
          .kitchen-detail-right-para-1 {
            width: 87%;
            margin-top: 4%;
            margin-right: 8%;
          }
        }
      }
    }
    .item-4 {
      .kitchen-detail-container {
        .kitchen-detail-right {
          .kitchen-detail-right-para-1 {
            width: 92%;
          }
        }
      }
    }
    .item-5 {
      .kitchen-detail-container {
        display: flex;
        flex-direction: column;
        .kitchen-detail-icon {
          @include pad {
            top: 2%;
          }
        }
        .kitchen-detail-left {
          width: 100%;
          height: auto;
          .kitchen-detail-bg {
            height: auto;
            img {
              height: auto;
            }
          }
        }
        .kitchen-detail-right {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 7vw;
          .kitchen-detail-right-para-1 {
            width: 42vw;
            margin: unset;
            margin-bottom: 4%;
          }
          .kitchen-detail-right-para-2 {
            width: 43.25vw;
          }
        }
      }
    }
    .item-6 {
      .kitchen-detail-container {
        justify-content: center;
        gap: 3vw;
        .kitchen-detail-left {
          height: auto;
        }
        .kitchen-detail-right {
          flex: unset;
          .kitchen-detail-right-para-1 {
            width: 28vw;
            margin: unset;
          }
        }
      }
    }
  }
}
