@use '../config' as *;
.highway-view {
  width: 100%;
  height: 100%;
  overflow: hidden;
  .highway-view-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3%;
    margin-top: 3%;
    @include pad {
      padding-right: 2%;
      margin-top: 7%;
    }
    .swiper-wrapper {
      align-items: center;
    }
    .highway-swiper-slide-01 {
      .glow-square {
        position: absolute;
        top: 52.9%;
        left: 25.5%;
        width: 10.6%;
        height: 14.4%;
        background-color: transparent;
        overflow: hidden;
        .light {
          mix-blend-mode: plus-lighter;
          opacity: 0.4;
          position: absolute;
          top: -78%;
          left: -32%;
          width: 100%;
          height: 12vw;
          background: linear-gradient(
            to right,
            rgba(255, 255, 255, 0) 0%,
            rgb(255, 255, 255) 50%,
            rgba(255, 255, 255, 0) 100%
          );
          transform: rotate(27deg) translateX(-300%);
          animation-name: lightMv;
          animation-duration: 3s;
          animation-iteration-count: infinite;
          z-index: 1;
        }
        @keyframes lightMv {
          0% {
            transform: rotate(27deg) translateX(-300%);
          }
          50% {
            transform: rotate(27deg) translateX(200%);
          }
          100% {
            transform: rotate(27deg) translateX(200%);
          }
        }
      }
      > svg {
        position: absolute;
        top: 68%;
        left: 16.5%;
        width: 57.5%;
        height: 18%;
        z-index: 6;

        > path {
          stroke: transparent;
        }
        .car {
          transform: scale(0.1) rotate(270deg);
        }
        .test {
          background-color: transparent;
        }
      }
    }
    .highway-view-left {
      width: 55.75%;
      .high-way-prev,
      .high-way-next {
        width: 3vw;
        @include pad {
          width: 4vw;
        }
      }
      .high-way-prev {
        left: 2%;
      }
      .high-way-next {
        right: 2%;
      }
    }
    .highway-view-right {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      width: 27%;
      @include pad {
        width: 29%;
      }
      h2 {
        font-family: var(--cor);
        font-weight: 400;
        font-size: 2.1vw;
        letter-spacing: 4px;
        margin-bottom: 3%;
        color: #b5b5b6;
      }
      h1 {
        width: 125%;
        font-family: var(--serif);
        font-weight: 600;
        font-size: 1.9vw;
        letter-spacing: 6px;
        margin-bottom: 5%;
        color: #231815;
      }
      p {
        font-family: var(--micro);
        font-size: 1vw;
        font-weight: 400;
        letter-spacing: 2px;
        line-height: 2;
        text-align: justify;
        color: #2d2d2d;
        @include pad {
          font-size: 1.1vw;
        }
      }
    }
  }
}
