@use '../config' as *;
#home-view {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: rgb(242, 149, 168);
  .home-video {
    width: 100%;
    height: 100%;
    img {
      height: 100%;
    }
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      @include pad {
        object-position: 38%;
      }
    }
  }
  .home-first {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: auto;
    .home-first-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 15vw;
      transform: translate(-50%, -50%);
      cursor: pointer;
    }
  }
  .home-first-none {
    opacity: 0;
    pointer-events: none;
  }
  .home-in {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    .home-icon {
      position: absolute;
      right: 4%;
      top: 4%;
      width: 9.5vw;
    }
    .home-title {
      position: absolute;
      top: 34%;
      left: 58.25%;
      .home-title-in {
        position: relative;
        overflow: hidden;
        background: url('@/assets/img/home/home-title.svg');
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: 100%;
        mask-image: url('@/assets/img/home/home-title.svg');
        mask-size: 100%;
        mask-position: 100%;
        mask-repeat: no-repeat;
        width: 21vw;
        height: 5vw;
        h1 {
          font-family: var(--serif);
          font-weight: 700;
          font-size: 5vw;
          letter-spacing: 10px;
          color: #215198;
        }
      }
      .light {
        mix-blend-mode: plus-lighter;
        opacity: 0.4;
        position: relative;
        top: -200%;
        z-index: 1;
        width: 100%;
        height: 30vw;
        background: linear-gradient(
          to right,
          rgba(255, 255, 255, 0) 0%,
          rgb(255, 255, 255) 50%,
          rgba(255, 255, 255, 0) 100%
        );
        transform: rotate(27deg) translateX(-50%);
        animation-name: homeLightMv;
        animation-duration: 6.5s;
        animation-iteration-count: infinite;
      }
      @keyframes homeLightMv {
        0% {
          transform: rotate(27deg) translateX(-100%);
        }
        100% {
          transform: rotate(27deg) translateX(120%);
        }
      }

      @include pad() {
        .home-title {
          top: 35%;
          left: 57.75%;
          .home-title-in {
            width: 24vw;
            height: 6vw;
          }
        }
      }
    }
    .home-menu {
      position: absolute;
      top: 53%;
      left: 44.5%;
      @include pad() {
        top: 50%;
        left: 43.5%;
      }
      .home-menu-ul {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3vw;
        .home-menu-li {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          padding-top: 1vw;
          overflow: hidden;
          a {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 0.1vw;
            transition: all 0.5s;
          }

          &::after {
            content: '';
            position: absolute;
            right: -25%;
            top: 10%;
            height: 80%;
            width: 1px;
            background-color: #326ebc;
            @include pad {
              right: -16%;
            }
          }
          &:last-child {
            &::after {
              content: unset;
            }
          }
          .home-menu-zhName {
            font-family: var(--sans);
            font-size: 1vw;
            font-weight: 400;
            letter-spacing: 8px;
            overflow: hidden;
            color: #326ebc;
          }
          .home-menu-enName {
            font-family: var(--cor);
            font-size: 0.8vw;
            font-weight: 500;
            letter-spacing: 2px;
            overflow: hidden;
            color: #326ebc;
          }

          &:hover {
            a {
              transform: translateY(-20%);
              transition: all 0.5s;
            }
          }
          @include pad {
            .home-menu-zhName {
              font-size: 1.25vw;
            }
            .home-menu-enName {
              font-size: 1vw;
            }
          }
        }
      }
    }
  }
}
