@use '../config' as *;
#home-view {
  width: 100%;
  height: 100%;
  position: relative;
  .home-video {
    width: 100%;
    height: 100%;
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      @include pad {
        object-position: 38%;
      }
    }
  }

  .home-icon {
    position: absolute;
    right: 4%;
    top: 4%;
    width: 9.5vw;
  }
  .home-title {
    position: absolute;
    top: 34%;
    left: 58.25%;
    .home-title-in {
      position: relative;
      overflow: hidden;
      background: url('@/assets/img/home/home-title.svg');
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: 100%;
      mask-image: url('@/assets/img/home/home-title.svg');
      mask-size: 100%;
      mask-position: 100%;
      mask-repeat: no-repeat;
      width: 21vw;
      height: 5vw;
      h1 {
        font-family: var(--serif);
        font-weight: 700;
        font-size: 5vw;
        letter-spacing: 10px;
        color: #215198;
      }
    }
    .light {
      mix-blend-mode: plus-lighter;
      opacity: 0.4;
      position: relative;
      z-index: 1;
      width: 100%;
      height: 200vw;
      background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0) 0%,
        rgb(255, 255, 255) 50%,
        rgba(255, 255, 255, 0) 100%
      );
      transform: rotate(27deg) translateX(-300%);
      animation-name: lightMv;
      animation-duration: 10s;
      animation-iteration-count: infinite;
    }
    @keyframes lightMv {
      0% {
        transform: rotate(27deg) translateX(-300%);
      }
      100% {
        transform: rotate(27deg) translateX(200%);
      }
    }

    @include pad() {
      .home-title {
        top: 35%;
        left: 57.75%;
        .home-title-in {
          width: 24vw;
          height: 6vw;
        }
      }
    }
  }
  .home-menu {
    position: absolute;
    top: 55%;
    left: 50%;
    @include pad() {
      top: 50%;
      left: 44.5%;
    }
    .home-menu-ul {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 3vw;
      .home-menu-li {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        overflow: hidden;
        a {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          gap: 0.1vw;
          transition: all 0.5s;
        }

        &::after {
          content: '';
          position: absolute;
          right: -25%;
          top: 10%;
          height: 80%;
          width: 1px;
          background-color: #326ebc;
          @include pad {
            right: -16%;
          }
        }
        &:last-child {
          &::after {
            content: unset;
          }
        }
        .home-menu-zhName {
          font-family: var(--sans);
          font-size: 1vw;
          font-weight: 400;
          letter-spacing: 8px;
          overflow: hidden;
          color: #326ebc;
        }
        .home-menu-enName {
          font-family: var(--cor);
          font-size: 0.8vw;
          font-weight: 500;
          letter-spacing: 2px;
          overflow: hidden;
          color: #326ebc;
        }

        &:hover {
          a {
            transform: translateY(-20%);
            transition: all 0.5s;
          }
        }
        @include pad {
          .home-menu-zhName {
            font-size: 1.25vw;
          }
          .home-menu-enName {
            font-size: 1vw;
          }
        }
      }
    }
  }
}
