@use '../config' as *;
.floor-inner {
  width: 100%;
  height: 100%;
  background-image: url('/src/assets/img/floor/floor-inner/floor-inner-bg@2x.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  overflow: hidden;
  .floor-inner-compass {
    position: absolute;
    width: 4.15vw;
    left: 12.5%;
    top: 81%;
    @include pad {
      width: 5vw;
      left: 12.25%;
      top: 81%;
    }
  }
  .nav-icon {
    position: absolute;
    left: 2.25%;
    top: 3.25%;
    width: 9.45vw;
    z-index: 1;
    @include pad {
      left: 2.25%;
      top: 3.25%;
    }
  }
  .floor-inner-title {
    position: absolute;
    right: 7%;
    top: 3%;
    width: 20.8vw;
  }
  .floor-inner-close {
    position: absolute;
    right: 2.5%;
    top: 4%;
    width: 2vw;
    height: 2vw;
    padding: 0.25vw;
    background-color: #d27c8d;
    z-index: 1;
    cursor: pointer;
    @include pad {
      width: 2.75vw;
      height: 2.75vw;
      padding: 0.5vw;
      top: 6%;
    }
  }
  .floor-inner-cotainer {
    position: relative;
    width: 100%;
    height: 100%;
    .floor-inner-left {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      top: 40%;
      left: 10%;
      // width: 7.85%;
      .txt-1 {
        font-family: var(--serif);
        font-size: 3.5vw;
        line-height: 1.25;
        letter-spacing: 0.1em;
      }
      .txt-2 {
        font-weight: 600;
        font-family: var(--serif);
        font-size: 1.65vw;
        letter-spacing: 0.1em;
      }
      .txt-3 {
        font-family: var(--serif);
        font-size: 1.2vw;
        letter-spacing: 0.1em;
      }
    }
  }

  .floor-inner-right {
    width: 100%;
    height: 100%;
    > p {
      position: absolute;
      left: 6.25%;
      bottom: 7%;
      font-size: 0.8vw;
      letter-spacing: 2px;
      color: black;
      @include pad {
        left: 4.5%;
        font-size: 12px;
      }
    }
    .container {
      display: flex;
      align-items: center;
      justify-content: center;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      .anchor-area {
        position: relative;
        width: auto;
        height: 82.5%;
        @media screen and (max-width: 2560px) and (aspect-ratio: 16/10) {
          width: auto;
          height: 82.5%;
        }
        @include pad {
          width: 52%;
          height: auto;
          // aspect-ratio: 1207/1337;
        }
        .anchor-area-map {
          height: 100%;
          width: 100%;
          position: relative;
          .imgBoxMap {
            width: 100%;
            height: 100%;
            margin-left: 17%;
            @media screen and (max-width: 1920px) {
              margin-left: 5%;
            }
          }
        }
      }
    }
    .zoom {
      bottom: 9%;
      right: 1.75%;
      left: unset;
      gap: 0.25vw;
      z-index: unset;
      @include pad {
        bottom: 10%;
        right: 1.5%;
      }
    }
  }
  .floor-3F-14F {
    .floor-inner-left {
      // width: 11%;
      left: 8%;
      top: 39%;
    }
    .floor-inner-right {
      .container {
        .anchor-area {
          height: 92%;
          @include pad {
            width: 45%;
            height: auto;
          }
        }
      }
    }
  }
  .points-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin-left: 17%;
    @media screen and (max-width: 1920px) {
      margin-left: 5%;
    }
    .floor-inner-point {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      left: 0;
      top: 0;
      width: 1.75vw;
      height: 1.75vw;
      font-size: 16px;
      color: white;
      border-radius: 50%;
      background: linear-gradient(to right, rgba(186, 94, 120, 1) 0%, rgba(158, 64, 91, 1) 100%);
      cursor: pointer;
      @media screen and (max-width: 1660px) and (aspect-ratio: 16/10) {
        font-size: 14px;
        width: 2vw;
        height: 2vw;
      }
      @media screen and (max-width: 1440px) and (aspect-ratio: 1440/812) {
        font-size: 14px;
        width: 2vw;
        height: 2vw;
      }
      @media screen and (aspect-ratio: 1462/914) {
        font-size: 14px;
      }
      @include pad {
        width: 2.5vw;
        height: 2.5vw;
        font-size: 12px;
      }
    }
    .point-B1 {
      left: 19.5%;
      top: 39.5%;
      @include macLaptop {
        left: 18.75%;
        top: 39.5%;
      }
      @include pad {
        left: 19.75%;
        top: 39.5%;
      }
    }
    .point-B2 {
      left: 44.25%;
      top: 45.5%;
      @include macLaptop {
        left: 44.25%;
        top: 45.5%;
      }
      @include pad {
        left: 44.25%;
        top: 45.5%;
      }
    }
    .point-B3 {
      left: 44%;
      top: 13%;
      @include macLaptop {
        left: 43.75%;
        top: 12.5%;
      }
      @include pad {
        left: 44%;
        top: 12.5%;
      }
    }
    .point-B5 {
      left: 19.25%;
      top: 18.25%;
      @include macLaptop {
        left: 18.75%;
        top: 18%;
      }
      @include pad {
        left: 19.25%;
        top: 18%;
      }
    }
    .point-B6 {
      left: 19.25%;
      top: 29.25%;
      @media screen and (max-width: 1920px) and (aspect-ratio: 1920/940) {
        top: 28.75%;
      }
      @include macLaptop {
        left: 19%;
        top: 28.5%;
      }
      @include pad {
        left: 19%;
        top: 28.5%;
      }
    }
    .point-A1 {
      left: 26%;
      top: 83%;
      @include macLaptop {
        left: 25.25%;
        top: 83%;
      }
      @include pad {
        left: 25.25%;
        top: 83%;
      }
    }
    .point-A2 {
      left: 40%;
      top: 85.25%;
      @include macLaptop {
        left: 39.5%;
        top: 85.25%;
      }
      @include pad {
        left: 39.5%;
        top: 85.25%;
      }
    }
    .point-A3 {
      left: 60.25%;
      top: 85.25%;
      @include macLaptop {
        left: 60%;
        top: 85.25%;
      }
      @include pad {
        left: 60%;
        top: 85.25%;
      }
    }
    .point-A5 {
      left: 74.5%;
      top: 85%;
      @include macLaptop {
        left: 74%;
        top: 84.5%;
      }
      @include pad {
        left: 74%;
        top: 84.5%;
      }
    }
    .point-A6 {
      left: 86.75%;
      top: 67.75%;
      @include macLaptop {
        left: 86%;
        top: 67.75%;
      }
      @include pad {
        left: 86%;
        top: 67.75%;
      }
    }
    .point-A7 {
      left: 66.5%;
      top: 67.75%;
      @include macLaptop {
        left: 66%;
        top: 67.75%;
      }
      @include pad {
        left: 66%;
        top: 67.75%;
      }
    }
    .point-A8 {
      left: 21.5%;
      top: 70.75%;
      @include macLaptop {
        left: 21.5%;
        top: 70.75%;
      }
      @include pad {
        left: 21.5%;
        top: 70.75%;
      }
    }
  }
}
