@use '../config' as *;

.floor-view-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  > p {
    position: absolute;
    left: 0.5%;
    bottom: 1%;
    font-family: var(--serif);
    font-size: 20px;
    color: white;
    @include pad {
      font-size: 14px;
    }
  }
  .nav-icon {
    position: absolute;
    left: 2.25%;
    top: 3.25%;
    width: 9.45vw;
    z-index: 1;
    @include pad {
      left: 2.25%;
      top: 3.25%;
    }
  }
  .floor-view-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    img {
      height: 100%;
      object-fit: cover;
    }
  }
  .floor-view-items {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
    width: 12.2%;
    opacity: 0.7;
    margin-right: 7%;
    background-color: white;
    .floor-view-item {
      position: relative;
      font-size: 1.2vw;
      font-family: var(--serif);
      text-align: center;
      letter-spacing: 2px;
      padding-block: 4.75%;
      width: 48%;
      overflow: hidden;
      cursor: pointer;
      a {
        display: inline-block;
        width: 100%;
        color: #231815;
        position: relative;
        // overflow: hidden;
        transition: all 0.5s;
        p {
          position: relative;
          z-index: 1;
        }
        .block {
          position: absolute;
          left: -110%;
          top: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(to bottom, rgb(210, 124, 141) 0%, rgb(185, 93, 117) 100%);
          transition: all 0.5s;
        }
      }
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0;
        height: 1px;
        width: 100%;
        background-color: #3e3a39;
      }
      &:last-child {
        &::after {
          display: none;
        }
      }
    }
    .floor-active {
      a {
        color: white;
        transition: all 0.5s;
        .block {
          left: 0;
          transition: all 0.5s;
        }
      }
    }
  }
  .toggle-day-night {
    position: absolute;
    right: 2.25%;
    bottom: 13%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1vw;
    .toggle-day,
    .toggle-night {
      width: 2.5vw;
    }
  }
}
