@use '../config' as *;
.life-fancy {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url('/src/assets/img/life/life-bg@2x.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 10;
  .life-fancy-swiper {
    width: 100%;
    height: 100%;
    .life-swiper-slide {
      .life-swiper-slide {
        width: 100%;
        img {
          height: 100%;
          object-fit: cover;
        }
      }
      > p {
        position: absolute;
        right: 0%;
        bottom: 1.5%;
        font-size: 1vw;
        letter-spacing: 2px;
        padding-block: 4px;
        padding-inline: 20px;
        color: black;
        background-color: rgb(255 255 255 / 70%);
      }
      .life-swiper-slide-para {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3vw;
        margin-left: 1vw;
      }
      .life-swiper-slide-img {
        width: 100%;
        height: 100%;
        img {
          height: 100%;
          object-fit: cover;
        }
      }
      .life-swiper-slide-para-left {
        width: 45vw;
      }
      .life-swiper-slide-para-right {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        width: 45vw;
        .news-icon {
          width: 8.25vw;
        }
        h2 {
          font-family: var(--serif);
          font-weight: 600;
          font-size: 2vw;
          letter-spacing: 2px;
          color: #231815;
          @include pad {
            width: 110%;
          }
        }
        .p-1,
        .p-2,
        .time {
          white-space: pre-line;
          font-family: var(--micro);
          font-weight: 500;
          font-size: 1vw;
          line-height: 1.8;
          letter-spacing: 2px;
          text-align: justify;
          color: #231815;
        }
        .time {
          margin-bottom: 2vw;
        }
        .p-1 {
          margin-bottom: 2vw;
        }
      }
    }
    .life-fancy-prev {
      left: 3%;
      width: 3vw;
      @include pad {
        width: 4vw;
      }
    }
    .life-fancy-next {
      right: 3%;
      width: 3vw;
      @include pad {
        width: 4vw;
      }
    }
  }
  .back-button {
    position: absolute;
    right: 2%;
    top: 3%;
    width: 3vw;
    height: 3vw;
    padding: 0.25vw;
    background-color: #d27c8d;
    z-index: 1;
    cursor: pointer;
    @media screen and (max-width: 1400px) {
      width: 3.5vw;
      height: 3.5vw;
      top: 3%;
      padding: 0.5vw;
    }
  }
}
