@use '../config' as *;
.safe-view {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: white;
  .safe-container {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    position: relative;
    .safe-content {
      width: 100%;
      height: 80%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4vw;
      position: absolute;
      @include pad {
        padding-bottom: 6vw;
        height: 100%;
      }
      .safe-content-left {
        position: relative;
        width: 44.5%;
        .safe-content-left-item {
          position: relative;
          left: 0;
          top: 0;
          width: 100%;
        }
        .safe-1-item-1 {
          width: 90%;
          left: 8%;
          top: 10%;
        }
        .safe-1-item-2 {
          margin-top: 8vw;
        }
      }
      .safe-content-right {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        width: 37%;
        white-space: pre-line;
        @include pad {
          // height: 100%;
          // margin-top: 8vw;
        }
        h1 {
          font-family: var(--serif);
          font-weight: 600;
          font-size: 2vw;
          letter-spacing: 4px;
          margin-bottom: 2.5vw;
        }
        p {
          font-family: var(--micro);
          font-size: 1.25vw;
          font-weight: 500;
          letter-spacing: 4px;
          line-height: 2.5;
        }
        .safe-content-button {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 2vw;
          margin-top: 2vw;
          .safe-content-inner-button {
            font-family: var(--micro);
            font-size: 1vw;
            letter-spacing: 2px;
            border: none;
            border-radius: 20px;
            padding: 0.25vw 0.75vw;
            cursor: pointer;
            color: white;
            background-color: #d27c8d;
            @include pad {
              font-size: 1.1vw;
              padding: 0.5vw 1.25vw;
            }
          }
          .safe-content-prev-button,
          .safe-content-next-button {
            width: 60px;
            cursor: pointer;
            @include pad {
              width: 45px;
            }
          }
        }
      }
    }
  }
  .safe-container-bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
  }
  .safe-content-toggle-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    z-index: 15;
    .safe-content-toggle-img-inner {
      width: 100%;
      height: 100%;
      img {
        height: 100%;
        object-fit: cover;
      }
    }
    .safe-content-toggle-button {
      position: absolute;
      right: 2vw;
      top: 2vw;
      padding: 0.25vw;
      width: 2vw;
      height: 2vw;
      cursor: pointer;
      border: none;
      color: white;
      background-color: #d27c8d;
      @include pad {
        top: 3vw;
        right: 3vw;
        width: 2.75vw;
        height: 2.75vw;
        padding: 0.5vw;
      }
    }
  }
}
