@use '../config' as *;
.brand-classic {
  position: relative;
  width: 100%;
  height: 100%;
  .brand-classic-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    .brand-classic-top {
      position: relative;
      width: 100%;
      overflow: hidden;
      @include pad {
        height: 40%;
      }
      .brand-classic-main-img {
        width: 100%;
        @include pad {
          height: 100%;
          img {
            height: 100%;
            object-fit: cover;
          }
        }
      }
      .brand-classic-title {
        position: absolute;
        top: 26%;
        left: 0;
        right: 0;
        width: 11.75%;
        margin: auto;
        @include pad {
          top: 37%;
        }
      }
      .brand-classic-txt {
        position: absolute;
        bottom: -1%;
        left: 0;
        right: 0;
        width: 79.5%;
        margin: auto;
      }
    }
    .brand-classic-bottom {
      width: 100%;
      margin: auto;
      @include pad {
        display: flex;
        align-items: center;
      }
      @media screen and (max-width: 1366px) {
        height: 27.25vw;
      }
      @media screen and (max-width: 1200px) {
        height: 28.5vw;
      }
      .brand-classic-swiper {
        position: relative;
        width: 90%;
        @include pad {
          height: 100%;
        }
        .brand-classic-swiper-nav-line {
          width: 100%;
          height: 1px;
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          margin: auto;
          background-color: #727171;
        }
        .brand-classic-swiper-item {
          display: flex;
          align-items: center;
          width: auto;
          height: 100%;
          &:nth-child(2n) {
            align-self: flex-end;
            .brand-classic-swiper-item-contianer {
              flex-direction: column;
            }
          }
        }
        .brand-classic-swiper-item-contianer {
          display: flex;
          flex-direction: column-reverse;
          align-items: flex-start;
          justify-content: flex-end;
          height: 25.9vw;
          pointer-events: none;
          @media screen and (max-width: 1920px) {
            height: 26.65vw;
          }
          @include pad {
            height: 100%;
          }
          &:nth-child(2n) {
            flex-direction: column;
          }
          h2 {
            font-family: var(--jost);
            font-size: 2.5vw;
            color: #ab586d;
            letter-spacing: 2px;
            font-weight: 500;
            margin-block: 0.25vw;
          }
          .brand-class-swiper-item-dot {
            width: 24px;
            margin-left: 3vw;
            @include pad {
              width: 16px;
            }
          }
          .brand-classic-swiper-products {
            display: flex;
            .brand-classic-swiper-line {
              width: 1px;
              // height: 85px;
              height: 6.25vw;
              margin-left: 3.5vw;
              margin-right: 3vw;
              background-color: #727171;
            }
            .brand-classic-swiper-product-img {
              width: 100%;
            }
            .brand-classic-swiper-product {
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;
              width: 8.25vw;
              gap: 10px;
              margin-right: 1vw;
              pointer-events: auto;
              z-index: 1;
              cursor: pointer;

              p {
                font-family: var(--micro);
                font-size: 1vw;
                letter-spacing: 1px;
              }
              @include pad {
                width: 8.75vw;
              }
            }
          }
        }
        .brand-classic-prev {
          left: 0vw;
        }
        .brand-classic-next {
          right: 0vw;
        }
        .brand-classic-prev,
        .brand-classic-next {
          width: 3vw;
          z-index: 1;
          @include pad {
            width: 5vw;
            top: 48%;
          }
        }
        .brand-reverse {
          flex-direction: column;
        }
        .classic-2027 {
          margin-left: -23%;
          clip-path: inset(48% 0% 0% 0%);
        }
        .classic-2025 {
          margin-left: -13%;
        }
        .classic-2024 {
          margin-left: -19%;
          clip-path: inset(46% 0% 0% 0%);
        }
        .classic-2023 {
          margin-left: -36%;
          clip-path: inset(0% 0% 53% 0%);
        }
        .classic-2022 {
          margin-left: -24%;
          clip-path: inset(46% 0% 0% 0%);
        }
        .classic-2021 {
          margin-left: -5%;
        }
        .classic-2020 {
          margin-left: 6.5%;
        }
        .classic-2019 {
          margin-left: 0%;
        }
        .classic-2018 {
          margin-left: -27%;
          clip-path: inset(28% 0% 0% 0%);
        }
        .classic-2015 {
          margin-left: -30%;
          clip-path: inset(0% 0% 36% 0%);
        }
        .classic-2014 {
          margin-left: -5%;
          clip-path: inset(29% 0% 0% 0%);
        }
        .classic-2013 {
          margin-left: -20%;
          clip-path: inset(0% 0% 36% 0%);
        }
        .classic-2012 {
          margin-left: -14%;
          clip-path: inset(27% 0% 0% 0%);
        }
        .classic-2011 {
          margin-left: -14%;
          clip-path: inset(0% 0% 36% 0%);
        }
        .classic-2010 {
          margin-left: -14%;
          clip-path: inset(29% 0% 0% 0%);
        }
        .classic-2009 {
          margin-left: -24%;
          clip-path: inset(0% 0% 35% 0%);
        }
        .classic-2008 {
          margin-left: -10%;
          clip-path: inset(26% 0% 0% 0%);
        }
        .classic-2007 {
          margin-left: -10%;
          clip-path: inset(0% 0% 35% 0%);
        }
        .classic-2006 {
          margin-left: -10%;
          clip-path: inset(26% 0% 0% 0%);
        }
        .classic-2005 {
          margin-left: -30%;
          clip-path: inset(0% 0% 35% 0%);
        }
        .classic-2004 {
          margin-left: -18%;
          clip-path: inset(26% 0% 0% 0%);
        }
        .classic-2003 {
          margin-left: -10%;
          clip-path: inset(0% 0% 36% 0%);
        }
        .classic-2002 {
          margin-left: -12%;
          clip-path: inset(26% 0% 0% 0%);
        }
        .classic-2001 {
          margin-left: -12%;
        }
        .classic-2000 {
          margin-left: -19%;
          clip-path: inset(25% 0% 0% 0%);
        }
        .classic-1999 {
          margin-left: -8%;
          clip-path: inset(0% 0% 36% 0%);
        }
        .classic-1998 {
          margin-left: -8%;
          clip-path: inset(25% 0% 0% 0%);
        }
      }
    }
  }
}
